<h2>Reactivos: <small>Dinamicos</small></h2>
<hr />
<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
  <!--Nombre-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        formControlName="nombre"
        placeholder="Nombre de la persona"
      />
      <span class="form-text text-danger" *ngIf="campoNoValido('nombre')"
        >Este campo es obligatorio con un minimo de 3 letras</span
      >
    </div>
  </div>
  <!--Agregar favorito-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          [formControl]="nuevoFavorito"
          placeholder="Agregar favorito"
          (keyup.enter)="agregarFavorito()"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="agregarFavorito()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!--Lista de juego favoritos-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoritos">
      <div
        class="input-group mb-1"
        *ngFor="let favorito of favoritosArr.controls; let i = index"
      >
        <input class="form-control mb-2" [formControlName]="i" />
        <button
          class="btn btn-outline-danger mb-2"
          type="button"
          (click)="borrar(i)"
        >
          <svg
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!--boton-->
  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end" (click)="(0)">
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>
<br />
<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>
<br />
<span>Agregar Juego</span>
<pre>{{ nuevoFavorito.valid }}</pre>
<br />
<pre>{{ nuevoFavorito.value | json }}</pre>
